<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/css/user/pageNotFound.css">
</head>

<body>
  <div class="background">
    <div class="error-container">
      <div class="error-code">404</div>
      <div class="error-message">Oops! Page Not Found</div>
      <button class="home-button" onclick="history.back()">Go Back</button>
    </div>
  </div>
</body>

</html>