* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  background: url("/img/car-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  color: #333;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #fca120;
}

.input-wrapper .icon,
.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-password:hover {
  color: #fca120;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #555;
}

.remember-me input {
  margin-right: 8px;
  accent-color: #fca120;
}

.forgot-password a {
  color: #315eff;
  font-size: 13px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password a:hover {
  color: #092aff;
}

button,
.google-button {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 15px;
  border: 0.5px, solid, rgb(133, 133, 133);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

button {
  background-color: #fca120;
}

button:hover {
  background-color: #d3800c;
}

.google-button:hover {
  background-color: #e3e3e3;
}

.divider {
  margin: 15px 0;
  color: #777;
  font-size: 13px;
  font-weight: 400;
}

.divider a {
  color: #315eff;
  text-decoration: none;
  font-weight: 500;
}

.divider a:hover {
  color: #092aff;
}

.google-button img {
  width: 18px;
}

.error-message {
  color: #ff4444;
  font-size: 13px;
  margin-bottom: 20px;
  background-color: rgba(255, 75, 75, 0.1);
  border-radius: 5px;
}
