<div class="navbar">
    <div class="navbar-left">
        <div class="logo">StarForge</div>
    </div>
    <div class="user-info">
        <img src="https://via.placeholder.com/40" alt="User Avatar">
        <span>Admin User</span>
    </div>
</div>